[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager
[submodule "libraries/esp8266-nodemcuv3_RFControl_duckdns"]
	path = libraries/esp8266-nodemcuv3_RFControl_duckdns
	url = https://github.com/develmusa/esp8266-nodemcuv3_RFControl_duckdns
[submodule "libraries/EasyDDNS"]
	path = libraries/EasyDDNS
	url = https://github.com/ayushsharma82/EasyDDNS
